body{
    min-width: 1250px;
    font-family: Arial, sans-serif;
}

.clearfix{
    clear: both;
}

header{
    padding: 23px 115px 19px 150px;
}

.logo-img, .logo-text{
    display: inline-block;
    float: left;

    font-size: 42px;
    letter-spacing: 1,5px;
    font-weight: 400;

    margin-right: 12px;
}

nav a{
    float: right;

    text-decoration: none;
    font-size: 20px;
    color: #6C6C6C;

    margin-left: 45px;
    margin-top: 11px;
}

.hero{
    background: url("../images/background-banner.png") no-repeat center / cover;
    width: 100%;
    padding: 40px 192px 16px 177px;
    position: relative;
}

.hero-iphone{
    display: inline-block;
    width: 345px;
    height: 436px;

    margin-right: 100px;
    background: url("../images/iphone-banner.png") no-repeat center / cover;
}

.hero-text{
    display: inline-block;
    position: absolute;
}

.hero-title{
    margin-top: 120px;
    display: block;
    font-size: 42px;
    color: white;
    margin-bottom: 25px;
}

.hero-subtitle{
    display: block;
    font-size: 26px;
    color: white;
    margin-bottom: 20px;
}

.hero-button{
    width: 172px;
    height: 41px;

    border: none;
    border-radius: 1px;
    background-color: #5094F2;
    color: white;
    font-size: 22px;
}


.hero-tick{
    float: left;
    margin-left: 4px;
    margin-right: 11px;
}

.hero-link{
    text-decoration: none;
    color: white;
}

main{
    padding: 57px 140px 85px 140px;
}

.icon-block{
    display: inline-block;
    text-align: center;
    max-width: 254px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.margin-right{
    margin-right: 128px;
}

.pencil-icon{
    width: 185px;
    height: 185px;
    background: url("../images/pencil-icon.png");
    display: inline-block;
    margin-bottom: 25px;
}

.computer-icon{
    width: 185px;
    height: 185px;
    background: url("../images/computer-icon.png");
    display: inline-block;
    margin-bottom: 25px;
}

.shopping-icon{
    width: 185px;
    height: 185px;
    background: url("../images/shopping-icon.png");
    display: inline-block;
    margin-bottom: 25px;
}

.block-title{
    font-size: 20px;
    color: #5094F2;
    margin-bottom: 9px;
}

.block-text{
    font-size: 14px;
    color: #909090;
}

.under-img{
    width: 371px;
    height: 279px;
    background: url("../images/cart-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.under-footer{
  padding: 0 160px 61px 160px; 
  position: relative;
}

.under-title{
    font-size: 42px;
    color: #6F7173;
    margin-bottom: 34px;
}

.under-text-title{
    font-size: 26px;
    color: #6F7173;
    margin-bottom: 29px;
}

.under-text-paragraph{
    font-size: 15px;
    color: #909090;
    line-height: 36px;
}

.under-foot{
    position: absolute;
    text-align: center;
}

.under-text{
   width: 481px;
   position: absolute;
   left: 50%;
   top: 55px;
}

.copyright{
    font-size: 15px;
    color: #909090;
}

