body{
    min-width: 1250px;
    font-family: Arial, sans-serif;
}

.clearfix{
    clear: both;
}

.center-wrapper{
    text-align: center;
}

.prechu-header{
    padding: 23px 115px 19px 150px;
}

.logo-text{
    display: inline;

    font-size: 42px;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.logo-img{
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;

    width: 44px;
    height: 44px;
}

.header-navigation-menu{
    float: right;
    line-height: 44px;
}

.header-navigation-menu a{
    text-decoration: none;
    font-size: 20px;
    color: #6C6C6C;

    margin-left: 45px;

    position: relative;
}

.header-navigation-menu a:hover::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    background: #5094F2;
    top: 51px;
}

.hero{
    text-align: center;
    background: url("../images/background-banner.png") no-repeat center / cover;
    padding: 40px 0 16px 0;
    position: relative;
}

.hero-iphone-image{
    display: inline-block;
    width: 345px;
    height: 436px;

    margin-right: 100px;
}

.hero-text{
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin-bottom: 134px;
}

.hero-title{
    display: block;
    font-size: 42px;
    color: white;
    margin-bottom: 25px;
}

.hero-subtitle{
    display: block;
    font-size: 26px;
    color: white;
    margin-bottom: 15px;
}

.hero-button{
    display: inline-block;
    margin-top: 25px;
    padding: 9px 11px;

    border: none;
    border-radius: 1px;
    background-color: #5094F2;
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.hero-tick{
    vertical-align: bottom;
    margin-right: 11px;

    width: 23px;
    height: 23px;
}

main{
    padding: 57px 140px 85px 140px;
    text-align: center;
}

.card-container{
    display: inline-block;
    text-align: center;
    max-width: 254px;
}

.icon-container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 185px;
    height: 185px;
    display: inline-block;
    margin-bottom: 25px;
}

.margin-right{
    margin-right: 128px;
}

.pencil-icon{
    background: url("../images/pencil-icon.png");
}

.computer-icon{
    background: url("../images/computer-icon.png");
}

.shopping-icon{
    background: url("../images/shopping-icon.png");
}

.block-title{
    font-size: 20px;
    color: #5094F2;
    margin-bottom: 9px;
}

.block-text{
    font-size: 14px;
    color: #909090;

    line-height: 17px;
}

.shopping-cart-section{
    display: inline-block;
}

.prechu-cart-image{
    display: inline-block;

    width: 371px;
    height: 279px;
}

.shopping-cart-title{
    font-size: 42px;
    color: #6F7173;
    margin-bottom: 34px;

    text-align: left;
}

.cart-aside-title{
    font-size: 26px;
    color: #6F7173;
    margin-bottom: 29px;
}

.cart-aside-text{
    font-size: 15px;
    color: #909090;
    line-height: 36px;
}

.cart-aside{
    display: inline-block;
    margin-left: 84px;
    max-width: 481px;

    text-align: left;
}

.prechu-footer{
    text-align: center;

    margin-top: 50px;
    padding: 32px 0 43px 0;
    border-top: 1px solid #E5E5E5;
}

.prechu-copyright{
    font-size: 15px;
    color: #909090;
}

